/*  Navigation style */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

}
body {
	padding-top: 50px;
}



.nav-main {
	width: 1400px;
	height: 50px;
	vertical-align: middle;
	position: relative;
}

.top-nav {
	display: inline-block;

}

.text-logo {
	color: #FA6980;
	font-size: 13px;
	font-weight:bold;
	margin-top: 18px;
	margin-left: 20px;
	margin-bottom: 17px;
	
}	

.nav-home {
	color: #343638;
	font-size: 11px;
	font-weight: bold;
	margin-left: 92px;
}

.nav-grey {
	color: #577CA2;
	font-size: 11px;
}

.nav-discovery {
	margin-left: 27px;
}

.nav-photos {
	margin-left: 22px;
}

.nav-contact { 
	margin-left: 22px;
 }

.logo {
	width: 30px;
	height: 30px;
	position: relative;
	top: 11px;
	margin-left: 40px;

}

/* TOP-SECTION STYLE */

.top-section {
	
	width: 1160px;
	height: 410px;
	margin-left: 140px;

}

.H2-class {
	font-size: 24px;
	font-weight: bold;
	
	
}

.left-block {
	display: inline-block;
	margin-top: 40px;
	width: 360px;
	height: 350px;
}

.left-image {
	width: 360px;
	height: 180px;
	
}

.left-image-text {
	position: relative;
}




.first-text {
	width: 280px;
	height: 16px;
	position: absolute;
	top: 28px;
	left: 40px;
	color: #FFFFFF;
}	

.top-text {
	width: 280px;
	height: 38px;
	color: #A6ADB4;
}

.middle-block {
	display: inline-block;
	margin-left: 40px;

}

.right-block {
	display: inline-block;
	margin-left: 32px;
}

.middle-image-text {
	position: relative;
}

.second-text {
	position: absolute;
	top: 28px;
	left: 40px;
	color: #FFFFFF;
}

.right-image-text {
	position: relative;
}

.third-text {
	position: absolute;
	top: 28px;
	left: 40px;
	color: #FFFFFF;
}

.time1 {
	color:#A6ADB4;
}


/*Bottom Section*/

.bottom-section {
	margin-left: 140px;
}

.bottom-img1  {
	width: 760px;
	height: 430px;
	
}

.bottom-text-img {
	width: 760px;
	height: 430px;
	margin-top: 40px;
	position: relative;

}

.bottom-text {
	position: absolute;
	left: 308px;
	top: 104px;
	color: black;
	width: 280px;
	height: 16px;

}

.bottom-img2 {
	width: 760px;
	height: 430px;
	margin-top: 40px;
	
}

.bottom-right {
	width: 360px;
	height: 210px;
}
.wtf1 {
	display: inline-block;
}



.wtf {
	width: 360px;
	height: 896px;
	display: inline-block;
	position: relative;
	margin-left: 40px;
	vertical-align: bottom;
}

.img7 {
	margin-top: 102px;
}

.img8 {
	margin-top: 102px;

}


/*FOOTER STYLE*/

.footer {
	width: 1440px;
	height: 200px;
	background:#A6ADB4 ;
	margin-top: 37px;
	
}

.logo-footer {
	display: inline-block;
	width: 37px;
	height: 13px;
	color: #ffffff;
	vertical-align:top;
	margin-left: 40px;
	margin-top: 56px;
	}

.footer-nav1 {
	display: inline-block;
	margin-left: 40px;
	margin-top: 56px;
}
.footer-nav2 {
	display: inline-block;
	margin-left: 40px;
	margin-top: 56px;

}
.footer-nav3 {
	display: inline-block;
	margin-left: 40px;
	margin-top: 56px;
}
.footer-nav4 {
	display: inline-block;
	width: 243px;
	height: 9px;
	font-size: 11px;
	margin-top: 56px;
	margin-left: 40px;
	vertical-align: top;
}

.footer-svg {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-top: 56px;
}
.nav-all {
	color: #CBD0D3;
	margin-top: 40px;
}
.footer-svg-all {
	display: inline-block;
	vertical-align: top;
	margin-left: 165px;
	
	
}

.twitter {
	margin-left: 32px;
}
.facebook {
	margin-left: 32px;
}
.web {
	margin-left: 32px;
}


